p, ul, ol {
  font-size: 16px;
}
#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.text {
  text-align: center;
}      
.textright{
  text-align: right;
}
.leftimg {
  float:left; /* Выравнивание по левому краю */
  margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.centerimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
}  
.table100{
	width: 100%;
	 border: 1px solid black;
	
}
.table60{
	width: 50%;
	margin: auto;
	border: 1px solid black;
}
th{
	text-align: center;
}
.first{
	font-weight: bold;
}
TD, TH {
    border: 1px solid black;
    padding: 3px;

   }
.tb1{
	
	border: 2px ridge gray;
	
	border-spacing: 0px;
}   